<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,368},{123,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,49}}</string>
                <key>sourceSize</key>
                <string>{123,49}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,266},{92,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,36}}</string>
                <key>sourceSize</key>
                <string>{92,36}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,73},{77,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,62}}</string>
                <key>sourceSize</key>
                <string>{77,62}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,305},{69,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,47}}</string>
                <key>sourceSize</key>
                <string>{69,47}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,210},{78,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,58}}</string>
                <key>sourceSize</key>
                <string>{78,58}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,304},{49,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,41}}</string>
                <key>sourceSize</key>
                <string>{49,41}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,245},{70,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,58}}</string>
                <key>sourceSize</key>
                <string>{70,58}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,173},{148,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,49}}</string>
                <key>sourceSize</key>
                <string>{148,49}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,185},{74,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,58}}</string>
                <key>sourceSize</key>
                <string>{74,58}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{139,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,59}}</string>
                <key>sourceSize</key>
                <string>{139,59}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,31},{71,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,50}}</string>
                <key>sourceSize</key>
                <string>{71,50}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,124},{149,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,47}}</string>
                <key>sourceSize</key>
                <string>{149,47}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,134},{71,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,49}}</string>
                <key>sourceSize</key>
                <string>{71,49}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,83},{71,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,49}}</string>
                <key>sourceSize</key>
                <string>{71,49}</string>
            </dict>
            <key>23-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,290},{69,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,49}}</string>
                <key>sourceSize</key>
                <string>{69,49}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,358},{151,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,48}}</string>
                <key>sourceSize</key>
                <string>{151,48}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,493},{21,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,10}}</string>
                <key>sourceSize</key>
                <string>{21,10}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,31},{40,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,219}}</string>
                <key>sourceSize</key>
                <string>{40,219}</string>
            </dict>
            <key>26.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,31},{41,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,312}}</string>
                <key>sourceSize</key>
                <string>{41,312}</string>
            </dict>
            <key>27.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{27,329}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,329}}</string>
                <key>sourceSize</key>
                <string>{27,329}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,368},{136,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,51}}</string>
                <key>sourceSize</key>
                <string>{136,51}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,73},{155,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,49}}</string>
                <key>sourceSize</key>
                <string>{155,49}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,304},{24,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,41}}</string>
                <key>sourceSize</key>
                <string>{24,41}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,31},{325,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,27}}</string>
                <key>sourceSize</key>
                <string>{325,27}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,245},{109,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,42}}</string>
                <key>sourceSize</key>
                <string>{109,42}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,152},{65,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,56}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,224},{94,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,40}}</string>
                <key>sourceSize</key>
                <string>{94,40}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{66,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,364}}</string>
                <key>sourceSize</key>
                <string>{66,364}</string>
            </dict>
            <key>bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,364}}</string>
                <key>sourceSize</key>
                <string>{70,364}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52facd12c1d8152e0143742aa26fb487$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
