<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1138,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1138,318}}</string>
                <key>sourceSize</key>
                <string>{1138,318}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,638},{263,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,286}}</string>
                <key>sourceSize</key>
                <string>{263,286}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,457},{261,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,290}}</string>
                <key>sourceSize</key>
                <string>{261,290}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2014,27},{261,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,22}}</string>
                <key>sourceSize</key>
                <string>{261,22}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,827},{1113,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1113,288}}</string>
                <key>sourceSize</key>
                <string>{1113,288}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,591},{286,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,264}}</string>
                <key>sourceSize</key>
                <string>{286,264}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,780},{262,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,261}}</string>
                <key>sourceSize</key>
                <string>{262,261}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,720},{261,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,252}}</string>
                <key>sourceSize</key>
                <string>{261,252}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1933,257},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1933,195},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{1138,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1138,314}}</string>
                <key>sourceSize</key>
                <string>{1138,314}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,195},{260,789}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,789}}</string>
                <key>sourceSize</key>
                <string>{260,789}</string>
            </dict>
            <key>game_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,2},{191,870}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,870}}</string>
                <key>sourceSize</key>
                <string>{191,870}</string>
            </dict>
            <key>game_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1995,195},{10,630}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,630}}</string>
                <key>sourceSize</key>
                <string>{10,630}</string>
            </dict>
            <key>game_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2014,2},{27,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,23}}</string>
                <key>sourceSize</key>
                <string>{27,23}</string>
            </dict>
            <key>game_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{140,642}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,642}}</string>
                <key>sourceSize</key>
                <string>{140,642}</string>
            </dict>
            <key>game_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,457},{320,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,132}}</string>
                <key>sourceSize</key>
                <string>{320,132}</string>
            </dict>
            <key>game_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2038,27},{274,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,5}}</string>
                <key>sourceSize</key>
                <string>{274,5}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5aec73ed562f3d58b2dbee2b12c4b1bb$</string>
            <key>textureFileName</key>
            <string>game_2.png</string>
        </dict>
    </dict>
</plist>
