<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,262},{96,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,15},{96,167}}</string>
                <key>sourceSize</key>
                <string>{238,197}</string>
            </dict>
            <key>00.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,402},{194,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{194,167}}</string>
                <key>sourceSize</key>
                <string>{238,197}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,431},{66,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,16},{66,165}}</string>
                <key>sourceSize</key>
                <string>{238,197}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,571},{186,167}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,15},{186,167}}</string>
                <key>sourceSize</key>
                <string>{238,197}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,426},{92,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,15},{92,167}}</string>
                <key>sourceSize</key>
                <string>{238,197}</string>
            </dict>
            <key>all_respin.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,2},{226,162}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{226,162}}</string>
                <key>sourceSize</key>
                <string>{234,202}</string>
            </dict>
            <key>autospin_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,516},{51,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{51,43}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>bet_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,449},{37,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{37,35}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>gamerules.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,516},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{49,49}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>itembg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{556,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,258}}</string>
                <key>sourceSize</key>
                <string>{556,258}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,166},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>option.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,431},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{39,39}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>payline.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{560,370},{227,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,144}}</string>
                <key>sourceSize</key>
                <string>{227,144}</string>
            </dict>
            <key>scatter.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,166},{234,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,202}}</string>
                <key>sourceSize</key>
                <string>{234,202}</string>
            </dict>
            <key>scatter_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{234,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,202}}</string>
                <key>sourceSize</key>
                <string>{234,202}</string>
            </dict>
            <key>sounds.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,402},{45,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,13},{45,37}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>spin_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{53,53}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>turbospin.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,516},{39,53}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{39,53}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>x10.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,262},{228,162}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,25},{228,162}}</string>
                <key>sourceSize</key>
                <string>{234,202}</string>
            </dict>
            <key>x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{228,162}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,25},{228,162}}</string>
                <key>sourceSize</key>
                <string>{234,202}</string>
            </dict>
            <key>x5.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,206},{228,162}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,25},{228,162}}</string>
                <key>sourceSize</key>
                <string>{234,202}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gems.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c96b73725978bf4fb68028f82c4e43a7$</string>
            <key>textureFileName</key>
            <string>gems.png</string>
        </dict>
    </dict>
</plist>
