<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,561},{280,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,84}}</string>
                <key>sourceSize</key>
                <string>{280,84}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,89},{282,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,90}}</string>
                <key>sourceSize</key>
                <string>{282,90}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,187},{282,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,86}}</string>
                <key>sourceSize</key>
                <string>{282,86}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{282,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,87}}</string>
                <key>sourceSize</key>
                <string>{282,87}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,181},{282,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,87}}</string>
                <key>sourceSize</key>
                <string>{282,87}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,270},{282,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,85}}</string>
                <key>sourceSize</key>
                <string>{282,85}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,625},{277,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,93}}</string>
                <key>sourceSize</key>
                <string>{277,93}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,275},{281,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,96}}</string>
                <key>sourceSize</key>
                <string>{281,96}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{286,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,94}}</string>
                <key>sourceSize</key>
                <string>{286,94}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,463},{280,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,96}}</string>
                <key>sourceSize</key>
                <string>{280,96}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{287,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,95}}</string>
                <key>sourceSize</key>
                <string>{287,95}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,473},{281,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,81}}</string>
                <key>sourceSize</key>
                <string>{281,81}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{281,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,96}}</string>
                <key>sourceSize</key>
                <string>{281,96}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{281,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,95}}</string>
                <key>sourceSize</key>
                <string>{281,95}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,2},{281,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,96}}</string>
                <key>sourceSize</key>
                <string>{281,96}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,285},{280,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,96}}</string>
                <key>sourceSize</key>
                <string>{280,96}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,357},{281,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,95}}</string>
                <key>sourceSize</key>
                <string>{281,95}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,537},{280,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,86}}</string>
                <key>sourceSize</key>
                <string>{280,86}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{282,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,88}}</string>
                <key>sourceSize</key>
                <string>{282,88}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{280,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,84}}</string>
                <key>sourceSize</key>
                <string>{280,84}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,98},{282,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,87}}</string>
                <key>sourceSize</key>
                <string>{282,87}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,373},{281,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,88}}</string>
                <key>sourceSize</key>
                <string>{281,88}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,2},{287,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,85}}</string>
                <key>sourceSize</key>
                <string>{287,85}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,454},{281,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,81}}</string>
                <key>sourceSize</key>
                <string>{281,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>logo.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d13d14bb0d7d5a6b3630d0858f2e982e$</string>
            <key>textureFileName</key>
            <string>logo.png</string>
        </dict>
    </dict>
</plist>
